{% extends 'base.html.twig' %}

{% block title %}Hello CoursController!{% endblock %}
{% block body %}
<main>
    <section class='banner'>
        <div>
            <h1>Bienvenue sur Kids Learning</h1>
        </div>
        <a href="">Decouvrir</a>
    </section>
</main>
{% endblock %}
